<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/register" method="POST">
      <h2>Registration Form</h2>
      <p><input type="text" placeholder="Name"></p>
      <p><input type="text" placeholder="Email"></p>
      <p><input type="text" placeholder="password"></p>
      <button>Submit</button>
    </form>
    Already a member?<a href="/login">login</a> here!
</body>
</html>